.iconify-icon, .iconify-icon-wayback {
  display: inline-block;
  vertical-align: sub;
}

.iconify-icon {
  color: var(--smc-c-primary-light)!important;
}

.iconify-icon-wayback {
  color: var(--smc-c-primary-lighter)!important;
}
